body {

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #777;
  
  
}

header {

	background-color: #ebebeb;
  padding: 20px;
  padding-left: 40%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
	color: #777;
  border: #ebebeb;
  }

nav {

  background-color: #ebebeb;
  padding: 20px;
  padding-left: 40%;
  margin-left: 15%;
  margin-right: 15%;  
  margin-bottom: 10px;
  color: #777;
}

#full {

  background-color: #ebebeb;
  width: 35%;
  height: 50%;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;

  }

div {

  padding: 20px;
  float: left;
  width: 450px;
  margin-left: 15%;

}

section {
  float: left;
  margin-left: 10%;
  margin-right: 35%;
  padding-left: 35%;
  margin-bottom: 45px;
  height: 80%;
}

article {

  float: left;
  padding-left: 10%;
  color: #ebebeb;
  background-color: #777;
  width: 90%;
  height: 150px;  

}

h1 {

  margin-right: 15%;
  padding-right: 20px;
  color: #777;
  background-color: #ebebeb;
  
}

p {

  margin-right: 15%;
  height: 30px;
  color: #777;
  background-color: #ebebeb;
}

aside {

  background-color: #ebebeb;
  color: #777;
  width: 20%;
  height: 125px;
  margin-right: 15%;
  margin-bottom: 5px;
  padding: 65px;
  float: right;
  
}

footer {
  
  clear: both;
  overflow: auto;
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
  color: #777;
    
}